include ./mixins/mixins

doctype html
html(lang=common.lang)

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title #{common.title}
    include favicon
    include ogp

  body
    include ./sections/header
    include ./sections/sidebar 
    include ./sections/welcome
    block content
    script(src="js/app.min.js") 