$table-col-sizes: (
  1: 152px,
  2: 117px,
  3: 136px,
  4: 187px,
  5: 132px,
  6: 80px,
);

.customers__table {
  @apply max-w-full overflow-y-auto;
}

.customers__head {
  @apply notLg:w-[888px] lg:gap-5 mb-4 mt-11 flex gap-1;

  &__text {
    @apply tracking-[-0.14px] text-blue-100;
  }

  @each $number, $size in $table-col-sizes {
    &__text:nth-child(#{$number}) {
      width: $size;
    }
  }

  &__text:last-child {
    @apply pl-3;
  }
}

.customers__list {
  @apply notLg:w-[888px];
}

.customer {
  @apply lg:gap-5 flex items-center gap-1 border-b border-white-100 py-5;

  &__text {
    @apply tracking-[-0.14px];
  }

  @each $number, $size in $table-col-sizes {
    &__text:nth-child(#{$number}) {
      width: $size;
    }
  }

  &__status {
    @apply flex h-[29px] w-20 items-center justify-center rounded border border-red bg-red-light text-red;
  }

  &__status--active {
    @apply border-green-400 bg-green-200 text-green-300;
  }
}
