$table-col-sizes: (
  1: 152px,
  2: 117px,
  3: 136px,
  4: 191px,
  5: 128px,
  6: 82px,
);

$table-col-sizes-md: (
  1: 107px,
  2: 72px,
  3: 91px,
  4: 142px,
  5: 92px,
  6: 50px,
);

.customers-table {
  @apply mt-6 max-w-full overflow-y-auto lg:mt-11 notLg:text-[11px];

  &__head {
    @apply mb-4 flex items-center gap-1 md:gap-5;
  }

  @each $number, $size in $table-col-sizes-md {
    &__head &__text:nth-child(#{$number}) {
      width: $size;
    }
  }

  @include mq(laptop) {
    @each $number, $size in $table-col-sizes {
      &__head &__text:nth-child(#{$number}) {
        width: $size;
      }
    }
  }

  &__head &__text:last-child {
    @apply md:pl-3;
  }

  &__text {
    @apply tracking-[-0.14px] text-blue-100;
  }

  &__head,
  &__list {
    @apply smOnly:w-[560px];
  }
}
