$table-col-sizes: (
  1: 160px,
  2: 119px,
  3: 144px,
  4: 195px,
  5: 128px,
  6: 80px,
);

.customers__head {
  @apply mb-4 mt-11 flex gap-3;

  &__text {
    @apply tracking-[-0.14px] text-blue-100;
  }

  @each $number, $size in $table-col-sizes {
    &__text:nth-child(#{$number}) {
      width: $size;
    }
  }

  &__text:last-child {
    @apply pl-3;
  }
}

.customer {
  @apply flex items-center gap-3 border-b border-white-100;

  &__text {
    @apply py-[25.9px] tracking-[-0.14px];
  }

  @each $number, $size in $table-col-sizes {
    &__text:nth-child(#{$number}) {
      width: $size;
    }
  }

  &__status {
    @apply flex h-[29px] w-20 items-center justify-center rounded border border-red bg-red-light text-red;
  }

  &__status--active {
    @apply border-green-400 bg-green-200 text-green-300;
  }
}
