- const component = components.logo

a.logo(href=common.canonical, aria-label=component.aria)
  +svgIcon(component.icon)
  p  
    span(class="logo__text") #{component.text}
    span(class="logo__version") #{component.version}
