.pagination
  .pagination__info #{pagination.info}
  .pagination__buttons 
    button.pagination__button(type="button", data-pagination-prev) 
      +svgIcon(pagination.arrow)
    ul.pagination__list 
      each item in pagination.items
        li.pagination__item 
          if typeof item === 'number'
            button.pagination__button(class={"pagination__button--active": item === pagination.current_page})   #{item}
          else 
            span.pagination__dots ... 
    button.pagination__button(type="button", data-pagination-next) 
      +svgIcon(pagination.arrow)