- const id = search.id;
- const name = search.name;
- const placeholder = search.placeholder;
- const icon = search.icon;

.search
  +svgIcon(icon)
  input.search__input(id=id, name=name, type="text", placeholder=placeholder)