- const search = customers.search;
- const list = customers.list; 
- const pagination = customers.pagination; 

section.customers
  .wrapper
    .customers__content
      .customers__top
        div
          h2.customers__title #{customers.title}
          p.customers__subtitle #{customers.subtitle}
        include ../components/search
      include ../components/customers-table
      include ../components/pagination